{% extends 'base.html.twig' %}

{% block title %}Bendrabutis{% endblock %}

{% block body %}


    <ul class="list-inline" style="display: flex; justify-content: space-between">
        <li class="list-inline-item"><img src="https://image.flaticon.com/icons/svg/2038/2038013.svg" style="height: 60px"></li>
        <li class="list-inline-item" style="align-self: center"><i class="fas fa-hotel"></i> <strong>Bendrabutis:</strong> {{ dormitory.title }}</li>
        <li class="list-inline-item" style="align-self: center"><i class="fas fa-thumbtack"></i> <strong>Gatvė:</strong> {{ dormitory.address }}</li>
        <li class="list-inline-item" style="align-self: center"><i class="fas fa-users"></i> <strong>Studentų:</strong> {{ students|length }}</li>
        <li class="list-inline-item" style="align-self: center">
            <button class="btn btn-warning" id="requestBtn">
                <i class="fas fa-pencil-alt"></i> Rašyti prašymą</button>
        </li>
    </ul>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}


    <div class="col-md-6 mx-auto" id="requestForm">
    <div id="requestForm" class="panel">
            <div class="panel-header">
                <p>Pateikti prašymą</p>
            </div>
            <div class="panel-content">
                {{ form_start(formRequest, {'attr': {'id': 'postRequestForm'}}) }}
                {{ form(formRequest) }}
                {{ form_end(formRequest) }}
            </div>
    </div>
        <br>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-header">
                    <p>Prašymai</p>
                </div>
                <div class="panel-content">
        <ul class="list-unstyled">
            {% for message in messages %}
            <li style="font-size: 14px">
                {% if(message.status == 0) %}
                    <span style="vertical-align: text-bottom" class="badge badge-success">Naujas</span>
                {% endif %}
                Gyventojas {{ message.user }} iš {{ message.roomNr }}
                kambario prašo: <strong>{{ message.content }}</strong>
                <br>
                <div style="margin-left: 7.3%">
                    <small><span style="cursor: pointer">Padėti</span></small>
                    &nbsp;
                <small>Pranešti</small>
                <small class="float-right"><i>{{ message.createdAt|date("Y-m-d H:m:s") }}</i></small>
                </div>
                <br>
            </li>
            {% endfor %}
        </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-header">
                    <p>Prisijungę studentai</p>
                </div>
                <div class="panel-content">

                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dormitory') }}
{% endblock %}