{% extends 'base.html.twig' %}

{% block title %}Bendrabutis{% endblock %}

{% block body %}
    <div class="box" style="font-size: 20px">
        <h2>Pranešimas</h2>

        <div class="float-left">
            {% if message.solved %}
                <img src="https://image.flaticon.com/icons/png/128/845/845646.png" style="height: 25px">
            {% else %}
                <img src="https://image.flaticon.com/icons/png/128/753/753345.png" style="height: 25px">
            {% endif %}
        </div>

        <div style="padding-left: 7%">
            <strong><span>{{ message.user.owner }}</span></strong> <small><i>{{ message.createdAt|time_diff }}</i></small>
            <div class="float-right">
                <img src="https://image.flaticon.com/icons/svg/465/465269.svg" style="height: 25px;">
                <p style="font-size: 16px; font-weight: bold">500</p>
            </div>
            <div style="padding-top: 2%">{{ message.content }}</div>
            <div style="margin-top: -4%">
                <br>
                {% if message.user.id == app.user.id and message.solved == 0 %}
                    <br>
                    <small>
                    <span class="isDisabled btn help-button">
                        <img src="https://image.flaticon.com/icons/svg/1264/1264878.svg">
                        <span>Padėti</span>
                    </span>
                    </small>
                    &nbsp;
                    <small>
                    <span class="isDisabled btn report-button">
                        <img src="https://image.flaticon.com/icons/svg/196/196777.svg">
                        <span>Pranešti</span>
                    </span>
                    </small>

                {% elseif message.solved and message.solver %}
                    <br>
                    <small>
                        Pagalbą suteikė: <strong>{{ message.solver.owner }}</strong>
                        | Taškai:
                        <strong><span style="color: #0fbb0f;">375</span></strong>
                        <img src="https://image.flaticon.com/icons/svg/438/438450.svg"
                             style="height: 18px; vertical-align: text-top;">
                    </small>

                {% else %}
                    <br>
                    <small>
                        <a href="{{ path('dormitory_help', {'id': message.id}) }}" class="btn help-button">
                            <img src="https://image.flaticon.com/icons/svg/1264/1264878.svg">
                            <span>Padėti</span>
                        </a>
                    </small>
                    &nbsp;
                    {% if message.reported %}
                        <small>
                            <button class="isDisabled btn report-button">
                                <img src="https://image.flaticon.com/icons/svg/196/196777.svg">
                                <span>Pranešta administracijai</span>
                            </button>
                        </small>
                    {% else %}
                        <small>
                            <a href="{{ path('reportMessage', {'id': message.id}) }}" class="btn report-button">
                                <img src="https://image.flaticon.com/icons/svg/196/196777.svg">
                                <span>Pranešti</span>
                            </a>
                        </small>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('dormitory') }}
{% endblock %}