<h2>Pranešimai</h2>
<ul class="list-unstyled">

    {% if messages is empty %}
        <p class="text-center">Kol kas bendrabutyje pranešimų nėra.
            <br>
            <img src="https://image.flaticon.com/icons/svg/1380/1380641.svg" style="height: 300px; opacity: 0.2">
        </p>
    {% endif %}

    {% for message in messages %}
        <li style="font-size: 20px">
            {% if(message.status == 0) %}
                <img src="https://image.flaticon.com/icons/svg/785/785116.svg" style="height: 30px">
            {% endif %}

            <strong>{{ message.user.owner }}</strong> <small><i>{{ message.createdAt|time_diff }}</i></small>
            <span class="float-right">
                 <img src="https://image.flaticon.com/icons/svg/1229/1229996.svg" style="height: 25px">
                 {{ message.roomNr }}
                <br>
                <br>
                <img src="https://image.flaticon.com/icons/svg/465/465269.svg" style="height: 25px; vertical-align: text-top">
                <span style="color: #0fbb0f;">500</span>
                &nbsp;
            </span>

            <div style="padding-left: 5%">{{ message.content }}</div>
            {% if message.user.id == app.user.id and message.solved == 0 %}
                <br>
                <small>
                    <span class="isDisabled btn btn-success help-button">
                        <img src="https://image.flaticon.com/icons/svg/1264/1264878.svg">
                        <span>Padėti</span>
                    </span>
                </small>
                &nbsp;
                <small>
                    <span class="isDisabled report-button">
                        <img src="https://image.flaticon.com/icons/svg/196/196777.svg">
                        <span>Pranešti</span>
                    </span>
                </small>

                {% elseif message.solved == 1 %}
                    <br>
                    <small>
                        <span style="cursor: default" class="btn btn-success help-button">
                            <img src="https://image.flaticon.com/icons/svg/443/443138.svg">
                            <span>Pagalba suteikta</span>
                        </span>

                        <span class="float-right"><strong>{{ message.solver.owner }}</strong></span>
                    </small>

                 {% else %}
                     <br>
                                <small>
                                    <a href="{{ path('dormitory_help', {'id': message.id}) }}" class="btn btn-success help-button">
                                        <img src="https://image.flaticon.com/icons/svg/1264/1264878.svg">
                                        <span>Padėti</span>
                                    </a>
                                </small>
                                &nbsp;
                                {% if message.reported %}
                                    <small>
                                        <button class="isDisabled report-button">
                                            <img src="https://image.flaticon.com/icons/svg/196/196777.svg">
                                            <span>Pranešta administracijai</span>
                                        </button>
                                    </small>
                                {% else %}
                                    <small>
                                        <a href="{{ path('reportMessage', {'id': message.id}) }}" class="report-button">
                                            <img src="https://image.flaticon.com/icons/svg/196/196777.svg">
                                            <span>Pranešti</span>
                                        </a>
                                    </small>
                                {% endif %}
                {% endif %}
            <hr>
        </li>
    {% endfor %}
</ul>