<div class="box">
        <h2>Pranešimai</h2>
        <p class="iconExplanation">
            <img src="https://image.flaticon.com/icons/png/128/845/845646.png"> - Suteikta pagalba
            &nbsp;
            <img src="https://image.flaticon.com/icons/png/128/753/753345.png"> - Laukia pagalbos
            &nbsp;
            <img src="https://image.flaticon.com/icons/png/128/1250/1250273.png"> - Pagalba išsiųsta
            &nbsp;
            <img src="https://image.flaticon.com/icons/svg/465/465269.svg"> - Skirtas taškų kiekis
        </p>
    {% include 'dormitory/inc/request_form.html.twig' %}
    <br>
<ul class="list-unstyled" id="realmessage">

    {% if messages is empty %}
        <p class="text-center">Kol kas bendrabutyje pranešimų nėra.
            <br>
            <img src="https://image.flaticon.com/icons/svg/1380/1380641.svg" style="height: 300px; opacity: 0.2">
        </p>
    {% endif %}

    {% for message in messages %}
        {% if message.user.owner != app.user.owner %}
        <li style="font-size: 17px; margin-left: 1%">
            <div class="float-left">
                {% if message.solved and message.status == 2 and message.solver %}
                    <img src="https://image.flaticon.com/icons/png/128/845/845646.png" style="height: 25px">
                {% elseif message.solved and message.solver and message.status == 1 %}
                    <img src="https://image.flaticon.com/icons/png/128/1250/1250273.png" style="height: 25px">
                {% else %}
                    <img src="https://image.flaticon.com/icons/png/128/753/753345.png" style="height: 25px">
                {% endif %}
            </div>

            <div class="messageContext">
                <strong><span>{{ message.user.owner }}</span></strong> <small><i>{{ message.createdAt|time_diff }}</i></small>
                {% if message.solved and message.solver and message.status == 2 %}
                <div class="float-right">
                    <img src="https://image.flaticon.com/icons/svg/465/465269.svg" style="height: 25px;">
                    <p style="font-size: 16px; font-weight: bold;" class="text-center">{{ message.points }}</p>
                </div>
                {% endif %}
            <div style="padding-top: 2%">{{ message.content }}</div>
            <div style="margin-top: -5%;">
                <br>
            {% if message.user.id == app.user.id and message.solved == 0 %}
                <br>
                <small>
                    <span class="isDisabled btn help-button">
                        <img src="https://image.flaticon.com/icons/svg/1264/1264878.svg">
                        <span>Padėti</span>
                    </span>
                </small>
                &nbsp;
                <small>
                    <span class="isDisabled btn report-button">
                        <img src="https://image.flaticon.com/icons/svg/196/196777.svg">
                        <span>Pranešti</span>
                    </span>
                </small>

            {% elseif message.solved and message.solver and message.status == 1 %}
                <br>
                <small>
                    Pagalbą pasiūlė: <strong>{{ message.solver.owner }}</strong>
                    (Laukiama patvirtinimo)
                </small>

            {% elseif message.solved and message.solver and message.status == 2 %}
                <br>
                <small>
                    Pagalbą suteikė: <strong>{{ message.solver.owner }}</strong>
                </small>

            {% else %}
                <br>
                <small>
                    <a href="{{ path('dormitory_help', {'id': message.id}) }}" class="btn help-button">
                        <img src="https://image.flaticon.com/icons/svg/1264/1264878.svg">
                        <span>Padėti</span>
                    </a>
                </small>
                                &nbsp;
                {% if message.reported %}
                    <small>
                        <button class="isDisabled btn report-button">
                            <img src="https://image.flaticon.com/icons/svg/196/196777.svg">
                            <span>Pranešta administracijai</span>
                        </button>
                    </small>
                {% else %}
                    <small>
                        <a href="{{ path('reportMessage', {'id': message.id}) }}" class="btn report-button">
                            <img src="https://image.flaticon.com/icons/svg/196/196777.svg">
                            <span>Pranešti</span>
                        </a>
                    </small>
                {% endif %}
            {% endif %}
            </div>
            </div>
            <hr>
        </li>
        {% endif %}
    {% endfor %}
</ul>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('realTimeMessages') }}
{% endblock %}