<ul class="list-unstyled">
    {% for message in messages %}
        <li style="font-size: 14px">
            {% if(message.status == 0) %}
                <img src="https://image.flaticon.com/icons/svg/785/785116.svg" style="height: 25px">
            {% endif %}

            <strong>{{ message.user }}</strong> <small><i>{{ message.createdAt|date("Y-m-d H:m:s") }}</i></small>
            <span class="float-right" style="font-size: 24px">
                 <img src="https://image.flaticon.com/icons/svg/1229/1229996.svg" style="height: 50px">
                 {{ message.roomNr }}
            </span>
            <br>
            <div style="width: 82%">{{ message.content }}</div>
            <br>
            <small>
                <button class="help-button">
                    <img src="https://image.flaticon.com/icons/svg/1264/1264878.svg">
                    <span>Padėti</span>
                </button>
            </small>
            &nbsp;
            <small>
                <button class="report-button">
                    <img src="https://image.flaticon.com/icons/svg/196/196777.svg">
                    <span>Pranešti</span>
                </button>
            </small>
            <hr>
        </li>

        <form action="#" id="{{ message.id }}" style="visibility: hidden">
            <input type="text" name="comment" id="{{ message.id }}">
        </form>
    {% endfor %}
</ul>