<div class="col-md-4">
    <h2>Prisijungę vartotojai</h2>
    <div class="row">
        {% for user in loggedInUsers %}
                <div style="margin-left: 1rem">
                <span style="background: #5739bd;color: white;padding: 5px;border-radius: 5px;">
                    {{ user.owner }}</span>
                <span style="background: black;color: white;padding: 5px 5px 5px 3px;border-radius: 5px;margin-left: -0.5rem;
                    border-top-left-radius: 0; border-bottom-left-radius: 0;">
                    {{ user.roomNr }}
                </span>
                </div>
                &nbsp;
        {% endfor %}
    </div>
    <br><br>
    <h2>Lyderiai</h2>
    <ul class="list-unstyled" id="topStudents">
        {% for student in students %}
        <li style="padding-bottom: 5px">
            {{ student.owner }}
            <span class="float-right">
            {{ student.points }}
            <img src="https://image.flaticon.com/icons/svg/438/438450.svg" style="height: 20px; vertical-align: sub">
            </span>
        </li>
        {% endfor %}
        <li class="text-center">
            <a href="{{ path('dormitory_leaderboard') }}" class="btn btn-warning">
                <img src="https://image.flaticon.com/icons/svg/166/166910.svg" style="height: 20px">
                Visi bendrabučio studentai</a>
        </li>
    </ul>
    <br><br>
    <h2>Daugiau veiksmų</h2>
    <p>Jei norite pakeisti savo bendrabutį ar kambarį, pasinaudokite žemiau nurodytomis funkcijomis.</p>
    <a href="{{ path('change_dormitory') }}" class="btn btn-success">
        <i class="fas fa-exchange-alt"></i> Keisti bendrabutį
    </a>
    <a href="{{ path('change_room') }}" class="btn btn-primary">
        <i class="fas fa-exchange-alt"></i> Keisti kambarį
    </a>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('dormitory') }}
{% endblock %}