<div class="col-md-4">
    <div class="box">
        <h2>Lyderiai</h2>
        <ul class="list-unstyled" id="topStudents">
            {% for student in students %}
                <li style="padding-bottom: 5px">
                    {{ student.owner }}
                    <span class="float-right">
                {{ student.points }}
                <img src="https://image.flaticon.com/icons/svg/438/438450.svg" style="height: 20px; vertical-align: sub">
                </span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <div class="box">
        <h2>Daugiau veiksmų</h2>
        <a href="{{ path('change_dormitory') }}" class="btn btn-sm btn-purple">
            <i class="fas fa-exchange-alt"></i> Keisti bendrabutį
        </a>
        <a href="{{ path('change_room') }}" class="btn btn-sm btn-purple">
            <i class="fas fa-exchange-alt"></i> Keisti kambarį
        </a>
    </div>
    <br>
    <div class="box">
        <h2>Prisijungę vartotojai</h2>
        <div class="row" style="margin-left: 0">
            {% for user in loggedInUsers %}
                <div>
                    <span class="onlineUser">
                        {{ user.owner }}</span>
                    <span class="onlineUserRoom">
                        {{ user.roomNr }}
                    </span>
                </div>
                &nbsp
            {% endfor %}
        </div>
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('dormitory') }}
{% endblock %}