{% extends 'base.html.twig' %}

{% block title %}Organizacija {% endblock %}

{% block body %}
    <div class="container">
        <div class="panel">
            <div class="panel-header">
                <p>{{ dormitoryInfo.title }} bendrabučio valdymas</p>
            </div>
            <div class="panel-content">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('warning') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                <ul class="list-unstyled list-group list-group-horizontal">
                    <li class="col-md-4">
                        <p>Administratorius: <strong>{{ dormitory.owner }}</strong></p>
                    </li>
                    <li class="col-md-4">
                        <p>Adresas: <strong>{{ dormitoryInfo.address }}</strong></p>
                    </li>
                    <li class="col-md-4">
                        <p>Studentai: <strong>{{ students|length }}</strong></p>
                    </li>
                </ul>
                <a href="{{ path('add_Rules', {id: app.request.get('id')}) }}" class="btn btn-dark mb-3" role="button">Taisyklės</a>

                   <div class="text-center">
				   <h5>Išsiųsti pakvietimą studentui</h5>
                   <img src="https://image.flaticon.com/icons/svg/1945/1945977.svg" class="index-panel-img">

                   <div class="col-md-4" style="margin: 0 auto;">
                    {{ form_start(SendInvitationType) }}
                    {{ form_widget(SendInvitationType) }}
                    <button type="submit" class="btn btn-primary"><i class="far fa-paper-plane"></i> Siųsti pakvietimo nuorodą</button>
                    {{ form_end(SendInvitationType) }}
                   </div>
                    </div>
				   <br>
                   <h5>Išsiųsti pakvietimai studentams</h5>
                   <div style='height:1px; width:100%; background:#e0e0e0;'></div>
                <div class="row">
                <table class="table table-primary table-striped col-md-5">
                    <tr>
                        <th>Studentas</th>
                        <th>Kambarys</th>
                        <th>El. paštas</th>
                    </tr>
                    {% for invite in invites %}
                    <tr>
                        <td>{{ invite.name }}</td>
                        <td>{{ invite.room }}</td>
                        <td>{{ invite.email }}</td>
                    </tr>
                    {% endfor %}
                </table>

                <table class="table table-success table-striped col-md-7">
                    <tr>
                        <th>Studentas</th>
                        <th>Kambarys</th>
                        <th>El. paštas</th>
                        <th>Statusas</th>
                    </tr>
                    {% for student in students %}
                        <tr>
                            <td>{{ student.owner }}</td>
                            <td>{{ student.RoomNr }}</td>
                            <td>{{ student.email }}</td>
                            {% if student.isDisabled %}
                            <td><a class="btn btn-primary" href="{{path('disable_account', { 'id': student.id })}}" role="button"><i class="fas fa-unlock-alt"></i> Atblokuoti</a></td>
                                {% else %}
                                    <td><a class="btn btn-danger" href="{{path('disable_account', { 'id': student.id })}}" role="button"><i class="fas fa-ban"></i> Blokuoti</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
