{% extends 'base.html.twig' %}

{% block title %}Organizacija {% endblock %}

{% block body %}
    <div class="container">
        <div class="panel">
            <div class="panel-header">
                <p>{{ dormitoryInfo.title }} bendrabučio valdymas</p>
            </div>
            <div class="panel-content">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <h5>Bendrabučio administratorius: {{ dormitory.owner }}</h5>
                <h5>Bendrabučio adresas: {{ dormitoryInfo.address }}</h5>
                <h5>Bendrabučio studentai: {{ students|length }}</h5><br>

				   <h6>Studento pridėjimas į bendrabutį</h6>
                   <div style='height:1px; width:100%; background:#e0e0e0;'></div><br>
				   
                    {{ form_start(SendInvitationType) }}
                    {{ form_widget(SendInvitationType) }}
                    <button type="submit" class="btn btn-sm btn-primary"><i class="far fa-paper-plane"></i> Siųsti pakvietimo nuorodą</button>
                    {{ form_end(SendInvitationType) }}
				   <br><br>
                   <h6>Išsiųsti pakvietimai studentams</h6>
                   <div style='height:1px; width:100%; background:#e0e0e0;'></div>
                <div class="row">
                <table class="table table-primary table-striped col-md-6">
                    <tr>
                        <th>Studentas</th>
                        <th>Kambarys</th>
                        <th>El. paštas</th>
                    </tr>
                    {% for invite in invites %}
                    <tr>
                        <td>{{ invite.name }}</td>
                        <td>{{ invite.room }}</td>
                        <td>{{ invite.email }}</td>
                    </tr>
                    {% endfor %}
                </table>

                <table class="table table-success table-striped col-md-6">
                    <tr>
                        <th>Studentas</th>
                        <th>Kambarys</th>
                        <th>El. paštas</th>
                    </tr>
                    {% for student in students %}
                        <tr>
                            <td>{{ student.owner }}</td>
                            <td>{{ student.RoomNr }}</td>
                            <td>{{ student.email }}</td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
