{% extends 'base.html.twig' %}

{% block title %}Organizacija {% endblock %}

{% block body %}
    <div class="container">
        <div class="panel">
            <div class="panel-header">
                <p>{{ dormitoryInfo.title }} bendrabučio valdymas</p>
            </div>
            <div class="panel-content">
               
                   <h5>Bendrabučio administratorius: {{ dormitory.owner }}</h5>
				   <h5>Bendrabučio adresas: {{ dormitoryInfo.address }}</h5>
				   <h5>Bendrabučio studentai: {{ dormitoryInfo.address }}</h5><br>
				   <div style='height:1px; width:100%; background:#e0e0e0;'></div>
				   <h6>Studento pridėjimas į bendrabutį</h6>
                    {{ form_start(SendInvitationType) }}
                    {{ form_widget(SendInvitationType) }}
                    <button type="submit" class="btn btn-primary">Pridėti siuntimui</button>
                    {{ form_end(SendInvitationType) }}
				   	   

            </div>
        </div>
    </div>
{% endblock %}
