{% extends 'base.html.twig' %}

{% block title %}Organizacija {% endblock %}

{% block body %}
    <div class="container">
        <div class="panel">
            <div class="panel-header">
                <p>{{ dormitoryInfo.title }} bendrabučio valdymas</p>
            </div>
            <div class="panel-content">
               

				   <h6>Studento pridėjimas į bendrabutį</h6>
                   <div style='height:1px; width:100%; background:#e0e0e0;'></div><br>
				   
                    {{ form_start(SendInvitationType) }}
                    {{ form_widget(SendInvitationType) }}
                    <button type="submit" class="btn-sm btn-primary">Siųsti pakvietimo nuorodą</button>
                    {{ form_end(SendInvitationType) }}
				   <br><br>
                   <h6>Išsiųsti pakvietimai studentams</h6>
                   <div style='height:1px; width:100%; background:#e0e0e0;'></div>	
			   	    {% for invite in invites %}

                        Studentas <b>{{ invite.name}}</b> pakviestas į <b>{{ invite.room}}</b> kambarį <br>
                                
                    {% endfor %}
                   <h5>Bendrabučio administratorius: {{ dormitory.owner }}</h5>
				   <h5>Bendrabučio adresas: {{ dormitoryInfo.address }}</h5>
				   <h5>Bendrabučio studentai: {{ dormitoryInfo.address }}</h5><br>
            </div>
        </div>
    </div>
{% endblock %}
