<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}"><i class="fas fa-home"></i> Pradinis<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-scroll"></i> Taisyklės</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contacts') }}"><i class="fas fa-list"></i> Kontaktai</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-4">
            {% if app.user and is_granted('ROLE_SUPER') %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin"><i class="fas"></i> Administravimas
                    </a>
                </li>
            {% endif %}
            {% if app.user and not is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('provided_help') }}"><i class="fas fa-hands-helping"></i> Pagalbos pranešimai
                    {% if helpMessages() %}
                    <span class="badge badge-danger" style="vertical-align: text-bottom;">{{ helpMessages()|length }}</span>
                    {% else %}
                    {% endif %}
                </a>
            </li>

            <li class="nav-item dropdown">

                <a style="cursor: pointer" class="nav-link text-white" id="navbarDropdownMenuLink" data-toggle="dropdown">
                    <i class="fas fa-bell"></i> Bendrabučio pranešimai
                 {% if notifications() %}
                    <span class="badge badge-danger" style="vertical-align: text-bottom;">{{ notifications()|length }}</span>
                {% else %}

                {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="width: 25em">
                    {% if notifications() %}
                        <ul class="list-unstyled dropdown-item">
                            <a href="{{ path('clear_notifications') }}" class="btn btn-sm btn-dark float-right">Perskaityta</a>
                           <br>
                            {% for notification in notifications() %}
                                <li>
                                    <small>
                                        <a href="{{ path('message', {'id': notification.message.id}) }}" class="notification-url">
                                        {{ notification.user.owner }} | Kambarys: <strong>{{ notification.roomNr }}</strong> <br>
                                        <strong>Prašymas:</strong> {{ notification.content|length > 50 ? notification.content|slice(0, 50) ~ '...' : notification.content  }}
                                        <br>
                                        <i>{{ notification.createdAt|date('Y-m-d h:m:s') }}</i>
                                        </a>
                                    </small>
                                    <hr>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                    <small style="padding: 5px">Šiuo metu naujų pranešimų nėra.</small>
                    {% endif %}
                </div>
            </li>
            {% endif %}

        {% if app.user %}
            {% if not is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('dormitory') }}"><i class="fas fa-hotel"></i> Bendrabutis</a>
            </li>
                {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> {{ app.user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="dropdown-item" href="{{ path('organisation') }}"><i class="fas fa-tools"></i> Administravimas</a>
                    <a class="dropdown-item" href="{{ path('dormitory_change_req') }}"><i class="fas fa-exchange-alt"></i> Bendrabučių keitimai</a>
                    {% endif %}
                    <a class="dropdown-item" href="{{ path('passwordChange') }}"><i class="fas fa-lock"></i> Pakeisti slaptažodį</a>
                    <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Atsijungti</a>
                </div>
            </li>
            {% else %}
            <li>
                <a href="{{ path('org_registration') }}" class="nav-link"><i class="fas fa-user-plus"></i> Registruoti organizaciją</a>
            </li>
            <li>
                <a href="{{ path('app_login') }}" class="nav-link"><i class="fas fa-sign-in-alt"></i> Prisijungti</a>
            </li>
        {% endif %}
        </ul>
{#        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Ieškoti studento" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ieškoti</button>
        </form>#}
    </div>
</nav>