<nav class="navbar navbar-expand-md bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}"><i class="fas fa-home"></i> Pradinis<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-scroll"></i> Taisyklės</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-list"></i> Kontaktai</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-4">
        {% if app.user %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> {{ app.user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/organisation"><i class="fas fa-tools"></i> Administravimas</a>
                    <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Atsijungti</a>
                </div>
            </li>
            {% else %}
            <li>
                <a href="{{ path('org_registration') }}" class="nav-link text-white"><i class="fas fa-user-plus"></i> Registruoti organizaciją</a>
            </li>
            <li>
                <a href="{{ path('app_login') }}" class="nav-link text-white"><i class="fas fa-sign-in-alt"></i> Prisijungti</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>