{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% if helpMessages is empty %}
        <p class="text-center">Kol kas jums dar niekas nepasiūlė pagalbos.
            <br>
            <img src="https://image.flaticon.com/icons/svg/1380/1380641.svg" style="height: 300px; opacity: 0.2">
        </p>
    {% endif %}

    <div class="row">
        {% for message in helpMessages %}

            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-header">
                        <p>Pagalbos siūlymas nuo: {{ message.user.owner }}</p>
                    </div>
                <div style="background: white; padding: 1%">
                    <i class="fas fa-user"></i> <strong>{{ message.user.owner }}</strong>
                    iš <strong>{{ message.user.roomNr }}</strong> tau siūlo pagalbą dėl:
                    <br><br>
                    {{message.message.content}}
                    <hr>
                    <a href="{{ path('acceptHelp', {'id': message.id}) }}"
                       class="btn btn-purple"><i class="fas fa-check"></i> Patvirtinti
                    </a>
                    <a href="{{ path('denyHelp', {'id': message.id}) }}"
                       class="btn btn-danger"><i class="fas fa-trash"></i> Pagalba nesuteikta
                    </a>
                </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}