{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% if helpMessages is empty %}
        <p class="text-center">Kol kas jums dar niekas nepasiūlė pagalbos.
            <br>
            <img src="https://image.flaticon.com/icons/svg/1380/1380641.svg" style="height: 300px; opacity: 0.2">
        </p>
    {% endif %}

    <div class="row">
        {% for message in helpMessages %}
            <div class="col-md-4">
                <div class="panel text-center" style="background: #f7f7f7">
                    <img src="https://image.flaticon.com/icons/svg/391/391175.svg" style="height: 70px">
                    <br>
                    <h5>{{ message.user.owner }}
                        <img src="https://image.flaticon.com/icons/svg/1229/1229996.svg" style="height: 25px; vertical-align: bottom">
                        <strong>{{ message.user.roomNr }}</strong></h5>
                    <small>{{ message.createdAt|date('Y-m-d H:i:s') }}</small>
                    <h2>„</h2>{{message.message.content}}<h2>“</h2>
                    <hr>
                    <a href="{{ path('acceptHelp', {'id': message.id}) }}"
                       class="btn btn-success"><i class="fas fa-check"></i> Patvirtinti
                    </a>
                    <a href="{{ path('denyHelp', {'id': message.id}) }}"
                       class="btn btn-danger"><i class="fas fa-trash"></i> Pagalba nesuteikta
                    </a>
                    <br><br>
                </div>
            </div>
        {% endfor %}
    </div>




{#    <div class="panel">
        <div class="panel-header">
            <p>Pagalbos pranešimai</p>
        </div>
        <div class="panel-content">

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in helpMessages %}
                <strong>{{ message.user.owner }}</strong> gali tau padėti su
                  tavo problema:
                <br>
                <strong>{{ message.message.content}}</strong>.
                <br>
                Užbėk į {{ message.user.roomNr }} kambarį.
                <br>
                <i>{{ message.createdAt|date('Y-m-d H:i:s') }}</i>
                <br>
                <a href="{{ path('acceptHelp', {'id': message.id}) }}"
                   class="btn btn-success"><i class="fas fa-check"></i> Patvirtinti
                </a>
                <a href="{{ path('denyHelp', {'id': message.id}) }}"
                   class="btn btn-danger"><i class="fas fa-trash"></i> Pagalba nesuteikta
                </a>
                <hr>
            {% endfor %}
        </div>
    </div>#}
{% endblock %}